<html>
  <head>
  <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
    <% if turns_left == 5 %>
      <p>A NEW NUMBER HAS BEEN PICKED!</p>
    <% else %>
      <p><%= message %></p>
    <% end %>
    <% if guessed %>
      <p>
        THE SECRET NUMBER was: <%= params["guess"] %>
      </p>
    <% else %>
        <p> Guesses left: <%= turns_left.to_s %> </p>
    <% end %>
    <% if cheat %>
      The secret number is: <%= number %>
    <% end %>
  </body>
</html